.backArrow {

    margin: 10px;
    background-color: transparent;
    border: none;
    opacity: 70%;
    transition: all 0.7s;

    img {
        width: 50px;

        &:hover {
            filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, 0.3));

        }
    }
}

