* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 80%;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}

.d-flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.d-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    min-height: 250px;

    .cardImg {
        max-height: 120px;
    }
}

@import "../view/Character/characterCard.scss";