.itemList {
    margin: 20px;

    a {
        text-decoration: none;

        .card {



            &__title {
                font-size: 11pt;
            }

            &__body {
                justify-content: center;
            }
        }


    }

}