@use '../../styles/colorVariable';

.characterCard {
    width: 80%;
    margin: 0 auto 30px;

    &__header {
        justify-content: space-between;

        span {
            font-weight: 600;
            color: colorVariable.$principalColor;

        }
    }


    &__body {
        width: 100%;
        margin: 45px 0 20px;

        &-container {
            width: 100%;
            justify-content: space-evenly;

            &-img {
                max-width: 350px;
            }
        }

    }

    &__footer {

        &-button {
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 8px auto;
        }
    }
}

.generationName {
    a {
        color: colorVariable.$principalColor ;
        text-decoration: none;

        &:hover {
            text-decoration: underline;

        }
    }

}

@media only screen and (max-width: 600px) {
    .characterCard {
        &__body {

            &-container {
                flex-direction: column;


            }

            .description {
                margin-top: 40px;
            }

            .showAbilityStyle {
                margin: 0;
            }
        }

        &__footer {
            &-button {
                flex-direction: column;

                .buttonStyle {
                    margin: 10px;
                }

            }
        }
    }
}