@use '../../styles/colorVariable';

.evolutionChain {
    width: 100%;
    margin: 20px auto;

    span {
        font-weight: 600;
    }

    &__container {
        margin-top: 20px;
        overflow: scroll;

        &-content {
            margin: 10px;

            img {
                height: 60px;
            }


            span {
                font-size: 12px;
                font-weight: 300;
                color: colorVariable.$principalColor;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: solid;
            }
        }


    }
}

@media only screen and (max-width: 600px) {





    
}